@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To JokesWebApp!</h1>
    <h5>Here you can view other's jokes and also create yourself by registering and logging in.</h5>
</div>
